<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<configuration>

  <appender name="FILE_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./logs/debug.log</file>

    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>DEBUG</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
		    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
		              <maxFileSize>100MB</maxFileSize>
		    </timeBasedFileNamingAndTriggeringPolicy>          
        </rollingPolicy>
        
  </appender>

  <appender name="FILE_TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./logs/trace.log</file>

    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>    
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>TRACE</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./logs/trace.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
		              <maxFileSize>100MB</maxFileSize>
		    </timeBasedFileNamingAndTriggeringPolicy>     
        </rollingPolicy>
  </appender>
  
   <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./log/error.log</file>

    <encoder>
<!--       <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> -->
      <pattern>%date %level %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./logs/error.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
		              <maxFileSize>100MB</maxFileSize>
		    </timeBasedFileNamingAndTriggeringPolicy>     
        </rollingPolicy>
  </appender>
  
  <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./log/info.log</file>

    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./logs/info.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
		              <maxFileSize>100MB</maxFileSize>
		    </timeBasedFileNamingAndTriggeringPolicy>     
        </rollingPolicy>
  </appender>
  
   <appender name="FILE_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./logs/warn.log</file>

    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>WARN</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./logs/warn.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
		              <maxFileSize>100MB</maxFileSize>
		    </timeBasedFileNamingAndTriggeringPolicy>     
        </rollingPolicy>
  </appender>




  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  <!-- Off these ones as they are annoying, and anyway we manage configuration ourself -->
  <logger name="org" level="OFF" />
  <logger name="net" level="OFF" />
  <logger name="com.ning" level="OFF" />
  
  <root level="ERROR">
    <appender-ref ref="FILE_ERROR" />
  </root>
  
 <root level="WARN">
  <appender-ref ref="FILE_WARN"/>
  </root>
  
  <root level="INFO">
  <appender-ref ref="FILE_INFO"/>
  </root>  

  <root level="DEBUG">
    <appender-ref ref="FILE_DEBUG" />
  </root>
  
  <root level="TRACE">
    <appender-ref ref="FILE_TRACE" />
  </root>
  
  
</configuration>